
#header{
  text-align: center;
  opacity: 100%;
}

.logo{
  margin-top: 10px;
}

label{
  color: white;
}

#table{
  margin-left: auto;
  margin-right: auto;
  word-break: break-all;
}
#textuser{
  text-align: center;
  justify-self: auto;
  margin: auto;
  align-items: center;
}

.user{
  width: 180px;
}

.service{
  width: 200px;
}

.phone{
  width: 180px;
}

.date{
  width: 150px;
}

.ms{
  width: 150px;
}

.message{
  width: 330px;
}
.channel{
  width: 120px;
}

.web{
  width: 300px;
}

.discordRec{
  width: 200px;
}
.discordId{
  width: 200px;
}

.discordPass{
  width: 200px;
}

.slackId{
  width: 170px;
}

.slackPass{
  width: 180px;
}

.time{
  width: 200px;
}

.imc{
  width: 350px;
}

.imd{
  width: 200px;
}
.textBox{
  opacity: 60%;
  width: 500px;
  font-size: 20px;
  text-align: center;
}

#buttons{
  text-align: center;
  justify-self: auto;
  margin: auto;
  align-items: center;
  color: white;
  
}

#addBtn{
  border: 2px solid black;
  width: 100px;
  height: 55px;
  border-radius: 10%;
  background: rgb(117, 214, 117);
}

#addBtn:hover{
  background: rgb(49, 158, 49);
}

#scheduleBtn{
  border: 2px solid black;
  width: 100px;
  height: 55px;
  border-radius: 10%;
  background: rgb(153, 208, 228);
}

#scheduleBtn:hover{
  background: rgb(42, 162, 202);
}

#delBtn{
  border: 2px solid black;
  width: 100px;
  height: 55px;
  border-radius: 10%;
  background: lightcoral;
}

#delBtn:hover{
  background: rgb(230, 72, 72);
}

#table {
  font-family: "Arial", Arial, Arial, Arial;
  font-size: 12px;
  border-collapse: collapse;
  width: 100%;
}

#table td,
#table th {
  border: 4px solid #030303;
  padding: 10px;
}

body {
  background-color: grey;
  background-image: url("images/background.jpg");
  background-size: 100%;
}

#table tr:nth-child(even) {
  background-color: white;
}

#table tr:nth-child(odd) {
  background-color: white;
}


/* used js to do this
#table tr:hover {
  background-color: rgba(0, 217, 255, 0.979);
  transform: translate(33px,0);
}
*/

#table th {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.849);            /* title bar */
  color: rgb(4, 246, 206);
}